/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; margin: 0; padding: 0; }

body {
    font: 16px/1.5 sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: #FEFEFE;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 150px;
    height: 150px;
    margin: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #FFFFFF;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

/*----------------------------------------*/

div:first-child {
    background-color: #303F9F;
    transition: 1s;
}

div:nth-child(2) {
    background-color: #1976D2;
    transition: background-color 1s ease-in 2s;
}

div:first-child:hover,
div:nth-child(2):hover {
    background-color: #9C27B0;
}

div:nth-child(3) {
    background-color: #0288D1;
    transition: all 1s linear 1s;
}

div:nth-child(3):hover {
    transform: scale(0.5);
}

div:last-child {
    background-color: #303F9F;
    transition: all 3s;
}

div:last-child:hover {
    margin-top: 150px;
}


